/* Global */
:root {
  --color-white: #ffffff;
  --color-light-white: #f1f1f1;
  --color-bg-light: #2b2747;
  --color-bg-medium: #030326d4;
  --color-bg-dark: #030326;
  --color-light-puple: #694e71;
  --color-pupple: #b9a0ea;
  --color-medium-puple: #553b5e;
  --color-dark-puple: #271d35;
  --color-dark-gray: #a7afc4;
  --color-light-gray: #bdbcd3;
  --color-gray: gray;
  --color-blue: #253279;
  --color-light-blue: #9ca8d6;
  --color-dark-blue: #18164e;
  --color-light-peach: #bf8a82;
  --color-light-yello: #edc574;

  /* Font size */

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags  */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-light-gray);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-light-gray);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-gray);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-dark-gray);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-dark-gray);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-bg-dark);
  transition: all var(--animation-duration) ease-in-out;
}
#navbar.navbar--dark {
  background-color: transparent;
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /* display: flex; 
  align-items: center;
  position: relative;
  left: -90px;*/
}
/* .navbar__logo__img { 
  width: 300px;
  height: auto;
  position: relative;
  top: 25px;
}
.navbar__logo__name {
  position: relative;
  left: -80px;
} */

.navbar__menu {
  display: flex;
  color: var(--color-light-gray);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-bg-dark);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-bg-light);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-light-gray);
  display: none;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__title {
  margin-top: 300px;
}
.home__contact {
  color: var(--color-light-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-gray);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}
/* About */

#about p {
  padding: 10px 30px;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-dark-puple);
  border: 2px solid var(--color-bg-dark);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration);
}
.major__icon:hover i {
  color: var(--color-light-puple);
  transform: rotate(-30deg) scale(1.1);
}
.major__title {
  color: var(--color-dark-gray);
}

.school {
  display: flex;
  align-items: center;
}

.school-description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-gray);
}

.school__name {
  font-size: var(--font-regular);
}
.school__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-bg-dark);
}

#skills p {
  padding: 25px 0;
}

.skillset {
  display: flex;
  background-color: var(--color-light-puple);
  color: var(--color-light-gray);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-light-gray);
  margin: 0;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-puple);
  padding: 20px 40px;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
}

.skill__value {
  height: 4px;
  background-color: var(--color-light-yello);
}
.skillset__right {
  flex-basis: 40%;
}

.skill {
  margin-bottom: 25px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.tools {
  background-color: var(--color-medium-puple);
  padding: 50px 0;
  height: 200px;
}
.etc {
  padding: 50px 0;
}

/* Work */

#second-bg {
  background: url("imgs/bg-img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project {
  position: relative;
  width: 420px;
  height: 340px;
  margin: 10px;
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
}

.project__discription {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(15px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__discription {
  opacity: 0.7;
  transform: translateY(0px);
}

.project__discription span {
  margin-bottom: 15px;
}

.project__discription h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-gray);
}

/* Contact */

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-bg-dark);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 45px;
  right: 45px;
  width: 45px;
  height: 45px;
  font-size: 35px;
  background-color: var(--color-light-puple);
  color: var(--color-light-gray);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacitu 300ms ease-in;
}

.arrow-up.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }
}
